@model ModAdministrative.Models.tbroomtype

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (Session["nametbuser"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<h2>Details</h2>

<div>
    <h4>tbroomtype</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantitypersons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantitypersons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagepathroomtype)
        </dt>

        <dd>
            <img width="140" height="140" src="@Html.DisplayFor(model => model.imagepathroomtype)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtbroomtype }) |
    @Html.ActionLink("Back to List", "Index")
</p>
