<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- ========== FAVICON ========== -->
    <link rel="apple-touch-icon-precomposed" href=@Url.Content("/Content/images/xfavicon-apple.png.pagespeed.ic.vIS_cO_Xol.png") />
    <link rel="icon" href=@Url.Content("/Content/images/xfavicon.png.pagespeed.ic.jEeqH3LLuL.png")>

    <!-- ========== GOOGLE FONTS ========== -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7cRaleway:400,500,600,700" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>

    <!-- ========== PRELOADER ========== -->
    <div id="loading">
        <div class="inner">
            <div class="loading_effect">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">

        <!-- ========== TOP MENU ========== -->
        <div class="top_menu">
            <div class="container">
                <div class="welcome_mssg hidden-xs">
                    <div id="c-slider">
                        <div id="sliderDa">
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/dove.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/cocacola.png") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/pringles.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/macdonald.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/chef.png") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/delirio.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/orvietto.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/dish.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/hotdog.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/wendys.jpg") alt=""></a>
                            </section>
                            <section>
                                <a href=""><img src=@Url.Content("/Content/images/publicidad/daddy.png") alt=""></a>
                            </section>
                        </div>
                        <div id="btn-prev">&#60</div>
                        <div id="btn-next">&#62</div>
                    </div>
                </div>
                <ul class="top_menu_right">
                    @*<li><i class="fa fa-phone"></i><a href="tel:18475555555"> 1-888-123-4567 </a></li>*@
                    @*<li class="email hidden-xxs"><i class="fa fa-envelope-o "></i> <a href="mailto:contact@site.com">contact@site.com</a></li>*@
                </ul>
            </div>
        </div>

        <!-- ========== HEADER ========== -->
        <header>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle mobile_menu_btn" data-toggle="collapse" data-target=".mobile_menu" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src=@Url.Content("/Content/images/logo.svg") height="32" alt="Logo">
                    </a>
                </div>
                <nav id="main_menu" class="mobile_menu navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="mobile_menu_title" style="display:none;">MENU</li>
                        <li><a href="#about_rooms">INICIO</a></li>
                        <li><a href="#testimonials_style_2">SOBRE NOSOTROS</a></li>
                        <li><a href="#features">FACILIDADES</a></li>
                        <li><a href="#contact">CONTACTO ¿CÓMO LLEGAR?</a></li>
                        <li class="menu_button">
                            <a href="" class="button  btn_yellow"><i class="fa fa-calendar"></i>BOOK ONLINE</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        

        

        @RenderBody()

       

        <!-- ========== FOOTER ========== -->
        <footer class="dark">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 widget">
                            <div class="about">
                                <a href="index.html"><img class="logo" src=@Url.Content("/Content/images/logo_light.svg") height="32" alt="Logo"></a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 widget">
                            <h5>Latest News</h5>
                            <ul class="blog_posts">
                                <li><a href="blog-post.html">Live your myth in Greece</a> <small>AUGUST 13, 2016</small></li>
                                <li><a href="blog-post.html">Zante Hotel in pictures</a> <small>AUGUST 16, 2016</small></li>
                                <li><a href="blog-post.html">Zante Hotel family party</a> <small>SEPTEMBER 15, 2016</small></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 widget">
                            <h5>Useful Links</h5>
                            <ul class="useful_links">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Location</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 widget">
                            <h5>Contact Us</h5>
                            <address>
                                <ul class="address_details">
                                    <li><i class="glyphicon glyphicon-map-marker"></i> 25, Navagio Zakynthos, Greece</li>
                                    <li><i class="glyphicon glyphicon-phone-alt"></i> Phone: 800 123 3456 </li>
                                    <li><i class="fa fa-fax"></i> Fax: 800 123 3456</li>
                                    <li><i class="fa fa-envelope"></i> Email: <a href="mailto:info@site.com">contact@site.com</a></li>
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="copyrights">
                                Copyright 2016 <a href="index.html">Zante Hotel</a> All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="social_media">
                                <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="googleplus" data-original-title="Google Plus" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i></a>
                                <a class="pinterest" data-original-title="Pinterest" data-toggle="tooltip" href="#"><i class="fa fa-pinterest"></i></a>
                                <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i></a>
                                <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- ========== BACK TO TOP ========== -->
    <div id="back_to_top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- ========== NOTIFICATION ========== -->
    <div id="notification"></div>

    <!-- ========== BUY NOW ========== -->
    <div class='buy-now left'>
        <a href="https://themeforest.net/item/zante-hotel-hotel-html-template/19229009?ref=Eagle-Themes" target="_blank" class='buy-now-btn'>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
        <div class='ripple'></div>
    </div>

    <!-- ========== JAVASCRIPT ========== -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/js")
    @*<script type="text/javascript" src="js/jquery.min.js.pagespeed.jm.V-9n6qs6Bi.js"></script>*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDgMJEPio2qomUKV1iqlIufj4u2NVd3q4"></script>
    @*<script src="js/bootstrap.min.js%2bbootstrap-datepicker.min.js.pagespeed.jc.Grj5RB9UYG.js"></script>*@
    <script>eval(mod_pagespeed_rGZiDUEWZq);</script>
    <script>eval(mod_pagespeed_kq7q8mJXCC);</script>
    @*<script src="js/bootstrap-select.min.js%2bjquery.smoothState.js.pagespeed.jc.-PYm84VpHD.js"></script>*@
    <script>eval(mod_pagespeed_i0R1LGgtUh);</script>
    <script>eval(mod_pagespeed_zJfv1qP1KL);</script>
    @*<script src="js/moment.min.js%2bmorphext.min.js%2bwow.min.js%2bjquery.easing.min.js.pagespeed.jc.9Y3kkQSFeJ.js"></script>*@
    <script>eval(mod_pagespeed_dQGbzsoHTC);</script>
    <script>eval(mod_pagespeed_xKuM0fskYb);</script>
    <script>eval(mod_pagespeed_mJ$PoIXvsL);</script>
    <script>eval(mod_pagespeed_KOO4$ftDvR);</script>
    @*<script src="js/owl.carousel.min.js%2bowl.carousel.thumbs.min.js%2bjquery.magnific-popup.min.js%2bjPushMenu.js.pagespeed.jc.Par-l-5YJw.js"></script>*@
    <script>eval(mod_pagespeed_Zo3iW_0Uv0);</script>
    <script>eval(mod_pagespeed_U7EadTp6cz);</script>
    <script>eval(mod_pagespeed_z6r2SLmXH5);</script>
    <script>eval(mod_pagespeed_3QYL0WDSLf);</script>
    @*<script src="js/isotope.pkgd.min.js%2bcountUp.min.js%2bjquery.countdown.min.js%2bmain.js.pagespeed.jc.7eQ3YmN9Wb.js"></script>*@
    <script>eval(mod_pagespeed_VpIdIlhhxH);</script>
    <script>eval(mod_pagespeed_HCEfex3dRH);</script>
    <script>eval(mod_pagespeed_De6LFWWydy);</script>
    <script>eval(mod_pagespeed_C1$mi3nw9M);</script>
    
    <!-- ========== REVOLUTION SLIDER ========== -->
    @Scripts.Render("~/Content/revolution/js")
    @*<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js.pagespeed.jm.0Z8coty-2O.js"></script>*@
    @*<script src="revolution/js/jquery.themepunch.revolution.min.js%2bextensions%2c_revolution.extension.actions.min.js%2bextensions%2c_revolution.extension.carousel.min.js%2b"></script>*@
    <script>eval(mod_pagespeed__29uMSdpfx);</script>
    <script>eval(mod_pagespeed_cFJH6nqw0Y);</script>
    <script>eval(mod_pagespeed_Ue1qxjEwFM);</script>
    <script>eval(mod_pagespeed_N3hXs1huDa);</script>
    @*<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js%2brevolution.extension.migration.min.js%2brevolution.extension.navigation.min.js.pa"></script>*@
    <script>eval(mod_pagespeed_xfdHDhpGeK);</script>
    <script>eval(mod_pagespeed_kiWJweCAFy);</script>
    <script>eval(mod_pagespeed_LVesWp9ZCK);</script>
    @*<script src="revolution/js/extensions/revolution.extension.parallax.min.js%2brevolution.extension.slideanims.min.js.pagespeed.jc.4EtNszxwvN.js"></script>*@
    <script>eval(mod_pagespeed_rWgTc5yKl7);</script>
    <script>eval(mod_pagespeed_U5wfZlVl1G);</script>
    @*<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>*@
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','www.google-analytics.com/analytics.js','ga');ga('create','UA-90057880-1','auto');ga('send','pageview');</script>

</body>
</html>
