@model List<WebApplication2.Models.Room>
@{
    ViewBag.Title = "Estado del hotel Fechas";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (Session["nametbuser"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}


<h2>Consultar habitaciones para reservar los días</h2>
<div>

    <label>Del:</label>
    <input class="datepicker" type="date" id="fecha1" name="inDate" />
    <label>al:</label>
    <input class="datepicker" type="date" id="fecha2" name="outDate" />

    <button class="btn btn-primary" id="btnConsultar">Consultar</button>


</div>
<br /><br />
<table class="table">
    <tr>
        <th>
            Nombre de la habitación
        </th>
        <th>
            Estado
        </th>
        <th>
            Características
        </th>
        <th>
            Tipo de habitación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#">@item.NameRoom</a>
            </td>
            <td>
                @if (@item.AvailabilityRoom == true)
                {
                    <text>Disponible</text>
                }
                else
                {
                    <text>Ocupada</text>
                }
            </td>
            <td>
                <p>@item.CharacteristicsRoom</p>
            </td>
            <td>
                @if (@item.TypeRoom == 1)
                {
                    <text>Estandar</text>
                }
                else if (@item.TypeRoom == 2)
                {
                    <text>Romántica</text>
                }
                else if (@item.TypeRoom == 3)
                {
                    <text>Suite</text>
                }
            </td>
        </tr>
    }

</table>



<script type="text/javascript">
    $(document).ready
    (
        function ()
        {
            $("#liStateTodayDates8").addClass("active");
        }//Fin de la función
    );
</script>

