@model ModAdministrative.Models.tbpromotion

@{
    ViewBag.Title = "Details";

    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (Session["nametbuser"] == null)
    {
        Response.Redirect("~/Login/Login");
    }

}

<h2>Details</h2>

<div>
    <h4>tbpromotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionpromotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionpromotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagepromotion)
        </dt>

        <dd>
            <img width="140" height="140" src="@Html.DisplayFor(model => model.imagepromotion)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtbpromotion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
