@model ModAdministrative.Models.tbfacility

@{
    ViewBag.Title = "Editar Facilidad";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (Session["nametbuser"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<h2>Editar Facilidad</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Información</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idtbfacility)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.facility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripción:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descriptionfacility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descriptionfacility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Imagen:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.imagefacilitypath, new { htmlAttributes = new { @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.imagefacilitypath, "", new { @class = "text-danger" })
                <img width="140" height="140" src="@Html.DisplayFor(model => model.imagefacilitypath)" />
                <input type="file" id="fileImage">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready
    (
        function () {
            $("#liFacility").addClass("active");
        }//Fin de la función
    );

    function leerArchivo() {
        if (this.files && this.files[0]) {
            var FR = new FileReader();
            FR.onload = function (e) {
                document.getElementById("imagefacilitypath").value = e.target.result;
                console.log(e.target.result);
            };
            FR.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("fileImage").addEventListener("change", leerArchivo, false);
</script>